@import "assets/scss/variables.scss";

.login {
  height: 80%;
  width: 100%;
  display: grid;
  grid-template-rows: 1fr 4fr 2.5fr;
  justify-content: center;

  .phrase {

  }

  .logoImg {
    height: 70vw;
    align-self: center;
    justify-self: center;
  }
}