@import "assets/scss/variables.scss";

.login {
  height: 80vh;
  width: 100vw;
  display: grid;
  grid-template-rows: 1fr 4fr 2.5fr;
  justify-content: center;

  .phrase {

  }

  .logoImg {
    height: 70%;
    align-self: center;
    justify-self: center;
  }

  .kakaoLogin {
    display: block;
    margin: auto;
  }
}