.meetingReadAfterContent {
  display: grid;
  grid-template-rows: 1fr 9fr 2fr 5fr;
  min-height: 0;
  grid-gap: 5px;
  .meetingReadTitle {
    grid-row: 1 / 2;
    p {
      margin: 0;
    }
  }
  .meetingReadImage {
    grid-row: 2 / 3;
    padding: 5%;
    overflow: auto;
    white-space: nowrap;
    .meetingReadImageItem {
      display: inline-block;
      width: 80%;
      height: 100%;
      margin-right: 5%;
      border: 2px solid black;
      img {
        display: block;
        width: 100%;
        height: 100%;
      }
    }
  }
  .meetingReadAfterFriend {
    grid-row: 3 / 4;
    padding: 2%;
    width: 100%;
    height: 100%;
    overflow: auto;
    white-space: nowrap;
    .meetingReadAfterFriendItem {
      display: inline-flex;
      margin-right: 3%;
      width: 35%;
      height: 100%;
      border: 2px solid #cccccc;
      border-radius: 10px;
      .meetingReadAfterFriendImage {
        img {
          width: 100%;
          height: 100%;
        }
      }
      .meetingReadAfterFriendName {
        height: 100%;
        padding-top: 10%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        text-align: center;
      }
    }
  }
  .meetingReadAfterComment {
    grid-row: 4 / 5;
    overflow: auto;
    .meetingReadAfterCommentItem {
      border-bottom: 1px solid #717171;
      padding: 1%;
      overflow: auto;
      .meetingReadAfterCommentName {
        height: 10%;
      }
    }
  }
}

/* PhotoUploader 부분 */

.photoUploaderWrapper {
  height: 100%;
  width: 100%;

  display: grid;
  grid-template-rows: 1fr 22fr 1fr;
  min-height: 0;
  grid-gap: 5px;
}

.photoUploaderContent {
  width: 100%;
  height: 100%;

  // background-color: yellowgreen;

  // 사진 정렬 구도
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;

  // 내용물이 많을 경우 scroll 처리
  overflow: scroll;
}

.box::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}

.photoBox {
  // contentWrapper에서 전체 화면의 5%씩을 padding으로 주었으므로,
  // 내부인 90%가 곧 90vw임. 30vw로 하면 딱 맞아떨어짐
  width: 30vw;
  height: 30vw;

  background-color: #efbf43;

  // justify-items: center;
  // align-items: center;

  border: solid 2px white;

  position: relative;

  .photoBoxDelete {
    position: absolute;
    top: 3.5px;
    right: 3.5px;

    color: #f8f8f89f;
  }
}
.photoPreview {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.addPhoto {
  background-color: #cccccc;
  color: #ffffff;

  font-size: xx-large;

  display: flex;
  justify-content: center;
  align-items: center;
}

// 메모 관련 SCSS

.memoContent {
  height: 100%;
  display: grid;
  grid-template-rows: 1fr 4fr 4fr 1fr;
  .memoTitle {
    margin: auto;
    width: 100%;
    padding: 2%;
    text-align: end;
    grid-row: 1 / 2;
  }
  .memoCreate {
    grid-row: 2 / 3;
    padding: 2%;
    .memoCreateInput {
      border: 2px solid #efbf43;
      height: 96%;
    }
  }
  .starCreate {
    // background-color: blue;
    padding: 2%;
    height: 96%;
    border-top: 1px solid #cccccc;
    grid-row: 3 / 4;
    overflow: auto;
    .starContent {
      border: 1px solid #cccccc;
      border-radius: 10px;
      padding: 1%;
      height: 45%;
      margin-bottom: 2%;
      .starStoreName {
        margin: 0 1%;
      }
    }
  }
  .memoCreateButton {
    grid-row: 4 / 5;
    width: 100%;
    height: 80%;
    margin: auto;
    border: 2px solid #efbf43;
    background: none;
  }
}
