.navbar {
  height: 100%;
  width:100%;

  .navbarLogo{
      height:100%;
      // background-color:red;
      width: 10%;
      margin-left: 5%;
      img{
          display:block;
          width:100%;
          height:100%;

          object-fit: contain;
      }
  }

  .navButton {
    font-size: 1.5rem;
    display: block;
    margin: auto;
    margin-right: 1rem;
    color: dimgray;
  }
}