.timeline {
  padding-top: 1rem;
  
  .searchBar {
    width: 80%;
    margin: auto;
    display: block;
    margin-bottom: 1rem;

    .ant-input, .ant-btn {
      background-color: transparent;
    }
  }

  .meetingList {
    overflow: scroll;
    height: 55vh;

    display: grid;
    grid-template-rows: repeat(5, 1fr);
    row-gap: 1rem;

    .ant-card-grid {
      display: grid;
      grid-template-columns: repeat(10, 1fr);
      align-items: center;
  
      background-color: white;
      border-radius: .7rem;
  
      width: 90%;
      margin: 0 auto;
      padding: .7rem 1rem;
      grid-row-gap: .5rem;
  
      * {
        text-align: center;
      }
  
      .meetingImg {
        grid-row: span 3;
        grid-column: span 2;
      }
      
      .meetingTitle {
        grid-column: span 8;
      }

      .meetingTime {
        grid-column: span 4;
      }
  
      .meetingFr {
        grid-column: span 4;
        
        .meetingFrName {
          padding: .3rem;
        }
      }

      .meetingLoca {
        grid-column: 3/11;
      }
    }
  }
}