/* 쉽게 import 할 컬러 변수명 선언*/
$eatdaYellow: #efbf43;
$eatdaBeige1: #E8CDBB;
$eatdaBeige2: #E5D8B1;
$eatdaBeige2trans: #e5d8b19f;
$eatdaBrown1: #B37658;
$eatdaBrown2: #986E43;
$eatdaGray1: #717171;
$eatdaGray2: #cccccc;
$eatdaGray3: #f8f8f8;
$eatdaGray3trans: #f8f8f89f;
$eatdaBlack: #545454;

/* 전체 레이아웃 컬러 잡아보기 */
$eatdaBG: white;
// $eatdaBar: $themeColor;

/* 테마 컬러 선언 */
$themeColor: $eatdaBeige1;
$subColor: $eatdaBeige2;
$fontTheme: $eatdaBrown2;
