.Layout {
  height: 100vh;
  width: 100vw;

  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(19, 1fr);
}

.Nav {
  grid-row: 1 / 2;
  grid-column: 1 / 10;
  background-color: #E8CDBB;
}

.Content {
    width:100vw;
  grid-row: 2 / 19;
  grid-column: 1 / 10;
  /* background-color: floralwhite; */
}

.Footer {
  grid-row: 19 / 20;
  grid-column: 1 / 10;
  background-color: #E8CDBB;
}
